/******* Homepage ****/

.header-container, .main {
  position: relative;
}

.flag {
  width: 16px;
  margin-right: 10px;
}

.work-icon {
  vertical-align:text-bottom;
  color: blue;
}

.background {
  height: 125px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.background-img {
  width: 100%;
  height: auto;
  object-fit:cover;
  transform: translate(-25%, -50%) rotate(-90deg);
}

.profile {
  width:115px;
  position: absolute;
  top:55px;
  left:15px;
  border-radius: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: white;
  padding:3px;
}

.profile img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}


.header-details {
  position: absolute;
  margin: 0;
  padding: 10px;
  top: 185px;
  left:0;
  color: black;
  text-wrap: nowrap;
}

.mt-0{
  margin-top: 0;
}

.modal-title {
  margin: 0 0 5px 0;
}

.profile-name {
  margin: 0 0 20px 0;
}

.details-info {
  display: flex;
  flex-direction: row;
}

.username p,
.workplace p,
.gender p,
.title p {
  margin: 0 0 10px 0;
  padding-right: 10px;
}

.username{
  flex-basis: 20%;
}

.title {
  flex-basis: 30%;
}

.workplace {
  flex-basis: 40%;
}

.gender {
  flex-basis: 10%;
}

.gray{
  color: #525252;
}

.div-with-dot {
  position: relative;
  padding-right: 10px;
}

.div-with-dot::after {
  content: '';
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  height: 3px;
  width: 3px;
  background-color: gray;
  border-radius: 50%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.upload-button {
  position: absolute;
  top: 135px;
  right:20px;
}



/******** Upload Images ******/
.overlay {
  position: absolute;
  width:100vw;
  height:100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.upload-img-modal {
  position: fixed;
  z-index: 2;
  top:50%;
  left:50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 10px;
  width:60%;
  min-height: 35vh;
  max-height: 80vh;
  overflow-y: auto;
}

.drop-zone {
  background-color:#F9F9F9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

.x-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: white;
  border:none;
}

.upload-btn-wrapper {
  display: flex;
  justify-content: center;
}

.upload-file {
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  font-size: 24px;
  aspect-ratio: 1;
  overflow: hidden;
  border: 1px solid rgb(218, 214, 214);
}

.modal-content {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.bold {
  font-size: 20px;
  font-weight: bold;

}

.input-tag {
  display: none;
}

.hidden {
  display: none;
}

.image-row-wrapper {
  display: flex;
  margin-bottom: 5px;
  overflow: hidden;
}

.image-row {
  width: 100px;
  height:100px;
  margin: 5px 0;
}

.image-row img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-details {
  margin: 0 10px;
}

.img-name {
  margin: 0;
  font-size: 16px;
}

.img-size {
  font-size: 12px;
  margin: 5px 0;
  color: gray;
}

.img-action {
  display: flex;
  font-size: 14px;
  margin-top: 15px;
}

.crop {
  padding-right: 20px;
}

.img-action button {
  border: none;
  background-color: white;
  padding: 0;
}

.img-action .icon {
  margin-right: 5px;
}



/*mobile*/
@media screen and (max-width: 768px) {
  .background {
    height: 110px;
  }

  .profile {
    top:65px;
    width:75px;
  }

  .username p,
  .workplace p,
  .gender p,
  .title p {
    margin: 0 0 10px 0;
  }

  p {
    font-size: 16px;
  }

  .header-details {
    top: 155px;
  }

  .upload-button {
    top: 115px;
    right: 10px;
  }

  .upload-img-modal {
    width: 80%;
  }
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: row;
  }

  .details-info {
    flex-direction: row;
  }

  .div-with-dot-lg-screen {
    position: relative;
    padding-right: 10px;
  }

  .div-with-dot-lg-screen::after {
    content: '';
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    height: 3px;
    width: 3px;
    background-color: gray;
    border-radius: 50%;
  }

  .upload-img-modal{
    width: 50%;
  }
}
